 <!DOCTYPE html>
            <html>
                <head><h1>ProtestTools</h1>
                <style>
                    .col-25 {
                        float: left;
                        width: 25%;
                        margin-top: 6px;
                    }

                    .col-75 {
                      float: left;
                      width: 75%;
                      margin-top: 6px;
                    }

                </style>



                </head>
                <body>
                    Location Map<br>
                    {{ iframe|safe }}<br>
                    <div class ="inputbox">
                        <form action ="", method="post">
                            <div class="col-25">
                                <label for="evname">Event Name</label>
                             </div>
                            <div class="col-75">
                                <input type="text" id="evname" name="event_name" placeholder="Event name..">
                            </div>

                            <div>
                                <label for="evdesc">Event Description</label><br>
                                <textarea id="evdesc" name="paragraph_text" cols="50" rows="10"></textarea>
                            </div>
                            <div class="col-25">
                                <label for="evcause">Cause</label>
                             </div>
                            <div class="col-75">
                                <input type="text" id="evcause" name="event_cause" >
                            </div>
                            <div class="col-25">
                                <label for="evdate">Event Date</label>
                             </div>
                            <div class="col-75">
                                <input type="date" id="evdate" name="event_date" >
                            </div>
                            <div class="col-25">
                                <label for="evtime">Event Start Time</label>
                             </div>
                            <div class="col-75">
                                <input type="time" id="evtime" name="event_time" >
                            </div>
                            <div class="col-25">
                                <label for="evaddress">Street Address</label>
                             </div>
                            <div class="col-75">
                                <input type="text" id="evaddress" name="event_address" placeholder="Street Address">
                            </div>
                            <div class="col-25">
                                <label for="evcity">City</label>
                             </div>
                            <div class="col-75">
                                <input type="text" id="evcity" name="event_city" placeholder="City..">
                            </div>
                            <div class="col-25">
                                <label for="evzip">Zip Code</label>
                             </div>
                            <div class="col-75">
                                <input type="text" id="evzip" name="event_zip" >
                            </div>
                            <div class="col-25">
                                <label for="evstate">State</label>
                             </div>
                            <div class="col-75">
                                <input type="text" id="evstate" name="event_state" placeholder="State(two letter)..">
                            </div>
                            <div class="col-25">
                                <label for="evcountry">Country</label>
                             </div>
                            <div class="col-75">
                                <input type="text" id="evcountry" name="event_country" >
                            </div>
                            <input type="submit"/>

                        </form>


                    </div>
                </body>
            </html>
